@font-face {
  font-family: "MyFont";
  src: url(./assets/Staatliches-Regular.ttf);
}

body {
  display: grid;
  grid-template-columns: 2fr 8fr;
  margin: 0;
  font-family: "MyFont";
}

.header {
  grid-column: 1/3;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    241deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );
  height: 10vh;
  color: white;
  font-size: 50px;
  display: grid;
  place-content: center;
  transition: all 1s ease-out;
}

.header:hover {
  cursor: pointer;
}

.sidebar {
  background-color: brown;
  color: white;
  height: 90vh;
  font-size: 22px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.task-buttons {
  border: solid 2px white;
  padding: 5px;
}

.task-buttons:hover {
  background-color: white;
  border: solid 2px black;
  color: black;
  cursor: pointer;
}

.projects {
  display: grid;
  grid-template-columns: 55px 55px;
  place-content: center;
}

.icons {
  width: 40px;
  height: 40px;
}

.priority {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

img {
  width: 75px;
  height: 75px;
}

img:hover {
  transform: translateY(-2px);
  cursor: pointer;
}

.main-content {
  background-color: thistle;
  height: 90vh;
}

.new-todo {
  margin: 35px;
  position: fixed;
  bottom: 5vh;
  right: 5vw;
}

.new-todo:hover {
  border: solid 2px white;
  padding: 7px;
  background-color: brown;
  cursor: pointer;
}

.new-todo-button {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border-style: none;
  background-image: url(/src/assets/plus.svg);
  background-size: contain;
}

.new-todo-button:hover {
  cursor: pointer;
}

p {
  color: white;
  font-size: 20px;
  display: grid;
  place-content: center;
  border: solid 2px white;
}

.pop-up-form {
  flex-direction: column;
  display: none;
  position: fixed;
  bottom: 30vh;
  right: 35vw;
  padding: 10px;
  border-radius: 7px;
  background-color: rgb(150, 50, 50);
  color: white;
}

#description {
  height: 10vh;
}

.pop-up-button {
  margin-top: 10px;
  height: 45px;
  border: solid 1px white;
  border-radius: 12px;
  color: white;
  font-size: 15px;
  font-weight: 600;
}

.add-todo {
  background-color: #9ED368;
}

.add-todo:hover {
  background-color: #91dd45;
}

.cancel-button {
  background-color: #FC4D71;
}

.cancel-button:hover {
  background-color: #ff1544;
}

.grandpa-todo {
  display: flex;
  justify-content: space-between;
  background-color: white;
  height: 8vh;
  margin: 30px;
}

.todos-side {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 33%;
}

.buttons-side {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 33%;
}

.todo-buttons {
  height: 45px;
  width: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  background-color: white;
}

.todo-buttons:hover {
  color: white;
  cursor: pointer;
}

.edite {
  border-color: #22c55e;
  color: #22c55e;
}

.edite:hover {
  background-color: #22c55e;
}

.details {
  border-color: #facc15;
  color: #facc15;
}


.details:hover {
  background-color: #facc15;
}

.delete {
  border-color: #ff1544;
  color: #ff1544;
}

.delete:hover {
  background-color: #ff1544;
}

.red {
  border: solid 2px #ef4444;
}

.orange {
  border: solid 2px #facc15;
}

.green {
  border: solid 2px #22c55e;
}

.line {
  text-decoration: line-through;
}

.footer {
  grid-column: 1/3;
  height: 2vh;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

pre {
  font-family: "MyFont";
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: hotpink;
}
